.container {
  background-color: #22435D;
  box-sizing: border-box;
  padding: 25px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

}

body {
  color: white;
}

p {
 color: #22435D;
}

#profilepic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.profiles {
  padding: 50px;
  overflow: auto;
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  text-align: center;
}
  
.singleProfile {
  padding: 10px 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.singleProfileContent {
  min-width: 100px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.singleProfileContent h3 {
  margin: 0;
  padding-right: 5px;
  font-size: 20px;
  color: #385997;
}

.singleProfileContent p {
  font-size: 16px;
  margin: 0;
  padding: 10px;
  max-width: 300px;
}

.singleProfileButtons {
  padding-top: 5px;
}

.time {
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #999;
}

.singleProfileButtons a {
  margin: 0px 3px;;
  padding-top: 10px;
  cursor: pointer;
  font-size: 10px;
  color: white;
  letter-spacing: 0.05em;
}

.form {
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  text-align: center;
}

.form input, .form textarea {
  padding-left: 10px;
  border: 1px solid #c1c1c1;
  margin-right: 10px;
  border-radius: 5px;
}

#descinput {
  height: 200px;
  width: 50%;
  border-radius: 5px;
}

#submitprofile {
  font-size: 20px;
  border-radius: 5px;
  background-color: #ccf2ff;
  color: #22435D;
}

#hiddentext {
  color: #ccf2ff;
}

#desc {
  color: #22435D;
  size: 16px;
  display: block;
}

#profiletitle {
  text-align: left;
}

#formcontainer {
  padding: 20px;
  border: solid;
  border-width: 3px;
  border-radius: 10px;
}

#picpreview {
  height: 100px;
  object-fit: cover;  
  display: inline-block;
}

#picpreviewcontainer {
  text-align: center;
  margin: 20px;
}